<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error">
        <% if @restaurant.errors.any? %>
          <h2>We have some errors here!</h2>
          <% @restaurant.errors.full_messages.each do |msg| %>
            <div class="error-msg">
              <%= msg %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_for [:admin, @restaurant] do |f| %> <!-- :admin(namespace) :url => admin_restaurants_path可以省略 form_for 會自動判斷 -->
          <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :tel, "Tel" %>
            <%= f.text_field :tel, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "Address" %>
            <%= f.text_field :address, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :opening_hours, "Opening Hours" %>
            <%= f.text_field :opening_hours, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image, "Photo" %>
            <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
            <%= f.file_field :image %>
          </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
        <div style="margin-top: 10px;">
            <%= link_to 'Back to index page', admin_restaurants_path %>
        </div>
      </div>
    </div>
  </div>
</div>