<div class="container">
  <h1 style="margin-bottom: 20px;">餐廳後台</h1>
  <div class="row">
    <div class="col-md-12">
      <div>
        <%= link_to 'New restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>餐廳名稱</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <td>
              <%= restaurant.id %>
            </td>
            <td>
              [<%= restaurant.category.name %>]
            </td>
            <td>
              <%= restaurant.name %>
            </td>
            <td>
              <%= link_to 'Show', admin_restaurant_path(restaurant) %> <!-- 對應admin/restaurant#show 的 route path -->
              <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %> <!-- 對應 admin/restaurant#edit的route path -->
              <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure"} %> <!-- 對應admin/restaurant#delete的route path 因為admin_restaurant_path的預設方法為get 所以要規定method為delete 但為什麼沒有 delete_admin_restaurant_path? -->
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @restaurants %>
      </div>
    </div>
  </div>
</div>